@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #080a0c, #172033);
  /* padding: 0 0; */
  color: #172033;
}

#root {
  min-height: 100vh;
  /* padding: 100px; */
}

.blocklyToolbox {
  background: #ece7e7;
  border-right: 1px solid #dbe3ef;
  padding: 8px;
  width: 150px;
}

.blocklyToolboxCategory {
  height: 38px !important;
  /* line-height: 38px !important; */
  margin: 4px 0 !important;
  /* padding: 0 12px !important; */
  display: flex;
  border-radius: 10px;
  background: transparent;
  align-items: center;
  justify-content: center;
  transition:
    background 0.15s ease,
    color 0.15s ease;
}

.blocklyToolboxCategory:not(.blocklyToolboxSelected):hover {
  background: #244b8f !important;
  color: #e4eaf3;
  /* display: flex;// */
  /* justify-content: center; */
  align-items: center;
}

.blocklyTreeRowContentContainer {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.blocklyToolboxCategoryLabel {
  font-family: Inter, system-ui, Arial, sans-serif !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  color: #24324a;
}

.blocklyToolboxCategory:not(.blocklyToolboxSelected):hover
  .blocklyToolboxCategoryLabel {
  color: #e4eaf3 !important;
}

.blocklyToolboxSelected {
  background: #244b8f !important;
  border-radius: 10px;
}

.blocklyToolboxCategoryIcon {
  display: none;
}

.blocklyMainBackground {
  stroke: none !important;
  fill: #ffffff;
}

.blocklyScrollbarHandle {
  fill: #b7c2d4 !important;
}

.blocklyScrollbarBackground {
  fill: #eef2f7;
}

.blocklyFlyoutBackground {
  fill: #ffffff !important;
  fill-opacity: 1 !important;
}

.blocklyFlyout {
  border-left: 1px solid #e4eaf3;
}
